.Form {
  display: flex;
  flex-direction: column;

  .Card {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 1.5rem 2rem 0.5rem;

    .InputNumber {
      display: flex;
    }
  }

  .Submit {
    height: 3rem;
    margin: 2rem 2rem 0;
    padding-inline: 2rem;
    border-radius: 3rem;
    font-size: 1.25rem;
  }
}
