.KeystoreFile {
  position: relative;

  .EmptyState {
    &.invisible {
      opacity: 0;
    }
  }

  .Cancel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    &:hover {
      .CancelIcon {
        color: #CC0000;
      }
    }

    &.visible {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .CancelIcon {
      position: absolute;
      right: 6px;
      top: 6px;
      transition: color 0.25s ease;
    }
  }
}


