.Header {
  display: flex;
  margin-top: -0.5rem;
}

.Column1 {
  width: 20% !important;
}

.Column2 {
  width: 80% !important;
}

.Group {
  position: relative;
  margin-bottom: 0.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  .Number {
    position: absolute;
    top: 5px;
    left: -1rem;
  }
}

.OperatorLink {
  position: absolute;
  margin-left: 5px;
  top: 5px;
}