.OperatorsStep {
  .Row {
    .InputNumber {
        display: flex;
    }
  }

  .Next {
    height: 3rem;
    padding-inline: 2rem;
    margin-top: 1rem;
    border-radius: 3rem;
    font-size: 1.25rem;
    text-align: center;
    float: right;
  }

  .Error {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 55px;
    text-align: center;
    color: #ff4d4f;
    opacity: 0;
    transition: opacity 0.25s ease;

    &.active {
      opacity: 1;
    }
  }

  .Optional {
    color: rgba(0, 0, 0, 0.45);
  }
}

.Center {
  width: 100%;
  display: flex;
  justify-content: center;
}