.App {
  padding: 1.5rem 3rem 0;

  .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: transparent;
    cursor: auto;
    user-select: none;

    .Title {
      margin: 0;
      font-size: 3rem;
      font-weight: 700;
      color: #1890ff;
    }

    .Description {
      margin-top: 0.5rem;
      line-height: 1rem;
    }
  }

  .Content {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }

  .Card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: 1.5rem 2rem;
  }
}
