.KeystoreFile {
  position: relative;
  padding: 0.5rem 0;
  border-style: solid !important;

  &.error {
    border-color: #ff4d4f !important;
  }

  .EmptyState {
    &.invisible {
      opacity: 0;
    }
  }

  .Cancel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    &:hover {
      .CancelIcon {
        color: #ff4d4f;
      }
    }

    &.visible {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .CancelIcon {
      position: absolute;
      right: 6px;
      top: 6px;
      transition: color 0.25s ease;
    }
  }

  .Error {
    position: absolute;
    bottom: -22px;
    left: 0;
    color: #ff4d4f;
    opacity: 0;
    transition: opacity 0.25s ease;

    &.active {
      opacity: 1;
    }
  }
}


