@import '~antd/dist/antd.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  overflow: auto;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  min-height: 100vh;
}

.ant-btn-loading-icon .anticon svg {
  animation: loadingCircle 0.35s infinite linear !important;
}
